.carousel-container {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 25px;
  padding-top: 3px;
}

.promo-bar-item {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

@media screen and (mix-width: 1920px) {
  .carousel-container {
    height: 40px;
    font-size: 50px;
  }
}
